.events-section {
  background-color: var(--color-tertiary);
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

#events-section-divider {
  border-left: 2px solid black;
}

#events-section-events-container {
  display: grid;
  grid-template-columns: 2fr .1fr 3fr;
  margin-bottom: 2rem;
}

#events-section-past-events-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.events-section-event {
  display: inline-block;
}

.events-section-subheader {
  color: var(--color-secondary);
}
