@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
	background: white;

	/* variables */
	--color-primary: #2c204e;
	--color-secondary: #8fe658;
	--color-secondary-light: #f4fdee;
  --color-tertiary: #F2F2F4;
	--color-system: #ccc;

	--font-family-primary: 'Montserrat';

	--font-size-m: 0.8rem;
	--font-size-l: 1rem;
	--font-size-xl: 1.25rem;
	--font-size-xxl: 1.563rem;
	--font-size-xxxl: 1.953rem;

	--font-weight-normal: 300;
	--font-weight-bold: 700;
	--font-weight-boldest: 900;

	--space-s: 0.328125rem;
	--space-m: 0.65625rem;
	--space-l: 1.3125rem;
	--space-xl: 2.625rem;
	--space-xxl: 5.25rem;
}

body {
	color: var(--color-primary);

	font-family: var(--font-family-primary);
	font-weight: var(--font-weight-normal);
	margin: 0 auto;

	font-size: var(--font-size-l);
	line-height: var(--space-l);
}

a {
	text-decoration: none;
}

.pill-button {
	border: none;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 16px;
}

.event-logo {
	max-height: 150px;
	max-width: 300px;
	margin: auto;
  vertical-align: middle;
}

.event-logo-container {
	height: 150px;
	line-height: 150px;
}
